// Poll dashboard
.poll-tabs {
  border: 1px solid lightgray;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
  }

  &__tab {
    padding: 15px;
    width: 50%;
    text-align: center;
  }

  &__message {
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
  }
}
