body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* my css code */
li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.active {
  background-color: lightgray;
}

.avatar-img {
  height: 50px;
  border-radius: 50%;
  margin: 10px;

  &--large {
    height: 200px;
  }
}

.poll {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;

  &__header{
    padding: 10px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__question {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  &__left {
    border-right: 1px solid lightgray;
  }

  &__question-text {
    margin: 16px 0;
  }
}

.poll-dashboard {
  border: 1px solid lightgray;
  border-radius: 5px;

  &__tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
  }

  &__tab {
    padding: 15px;
    width: 50%;
    text-align: center;
  }
}

.poll-results {
  border: 1px solid lightgray;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    align-items: center;
  }

  &__left {
    border-right: 1px solid lightgray;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__right-title {
    font-weight: 600;
    margin: 4px;
  }

  &__option {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
  }
}

// Add Poll Component
.poll-add {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  
  &__header {
    padding: 10px;
    font-weight: 600;
    font-size: x-large;
    border-bottom: 1px solid lightgray;
    text-align: center;
  }

  &__body {
    padding: 8px;
  }

  &__body-title {
    font-weight: 600;
    font-size: large;
    margin-top: 16px;
  }

  &__body-form {
    display: flex;
    flex-direction: column;
  }

  &__body-form-or {
    align-self: center;
  }

  &__body-form-input {
    margin: 8px 0;
  }

  &__body-form-button {
    margin: 8px 0;
  }
}

// LeatherBoard Component
.leader-board-item {
  margin: 10px 0;
  padding: 8px 8px 8px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  &__left {
    border-right: 1px solid lightgray;
  }

  &__middle {
    flex-grow: 1;
    padding: 8px;
  }

  &__user {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 16px;
  }

  &__answered {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid lightgray;
  }

  &__created {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding: 8px;

    border: 1px solid lightgray;
    border-radius: 5px;
  }

  &__right-title {
    padding: 4px 8px;
    border-bottom: 1px solid lightgray;
  }

  &__right-score {
    padding: 4px 8px;
  }
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.navbar li:first-child {
  padding-left: 0;
}

// LoggedUserInfo Component
.logged-user-info {
  display: flex;
  align-items: center;

  &__image {
    img {
      height: 25px;
    }
  }
}

// Header of the app
.header {
  margin: 0 auto;
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid green;
}

// SignIn Component
.sign-in {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__header {
    border-bottom: 1px solid lightgray;
    background-color: lighten($color: lightgray, $amount: 10);
    text-align: center;
    padding: 10px;
  }

  &__header-title {
    font-weight: 600;
    font-size: larger;
  }

  &__body {
    align-self: center;
  }

  &__body-form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    input {
      margin-top: 5px;
      background-color: lighten($color: green, $amount: 15);
      height: 30px;
      border-radius: 5px;
    }

    select {
      height: 30px;
      border-radius: 5px;
    }
  }

  &__body-form-title {
    align-self: center;
    font-weight: bold;
    font-size: x-large;
    padding: 8px;
    color: green;
  }

}